.wrapper {
    position:relative;
    text-align: center;
}

.rectangle {
    position:absolute;
    top:0;
    left:0;
    width:0;
    height:0;
    border:2px solid #ffffff;
    background-color:transparent
}